body {
    font-family: "Montserrat", serif;
    font-size: 18px;
    color: white;
    background-color: rebeccapurple;
}

.quest-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 270px;
    display: inline-block;
    vertical-align: top;
}
.quest-card img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.quest-card h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}
.quest-card p {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    line-height: 1.3;
}
.quest-card button {
    margin-top: 10px;
    background-color: #ffdd57;
    color: #3b0062;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}
.quest-card button:hover {
    background-color: #ffd700;
    transition: 0.5s;
}